# Symfony
/var/
/vendor/
/.env.local
.env.*.local
/public/bundles/
/node_modules/
npm-debug.log

# PHPUnit
/phpunit.xml
/phpunit.xml.dist

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Composer
composer.lock
